* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(bg_pic.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 1400px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 35%;
    min-width: 400px;
    margin: auto;
    margin-top: 50px;
    padding: 50px;
    background: transparent;
    backdrop-filter: blur(8px);
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.479);
}

h2 {
    text-align: center;
    color: rgb(169, 232, 255);
    margin-bottom: 20px;
    text-transform: u;
}

input,
textarea {
    color: white;
    font-size: 14px;
    width: 100%;
    height: 48px;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 6px;
    background: transparent;
    backdrop-filter: blur(8px);
}

textarea {
    height: 140px;
    resize: vertical;
}

input:focus,
textarea:focus {
    outline: 2px solid rgba(26, 255, 0, 0.585);
}

p {
    color: rgb(255, 13, 13);
    font-size: 13px;
    height: 6PX;
    display: flex;
    align-items: center;
}

.btn {
    margin: auto;
    font-weight: bold;
    padding: 8px;
    width: 100%;
    color: white;
    font-size: 15px;
    background-color: rgb(255, 24, 24);
    cursor: pointer;
    border: 1px solid rgb(187, 0, 0);
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgb(255, 0, 0);
}

.btn:active {
    transform: scale(0.95);
    box-shadow: none;
}

.btn:focus {
    outline: none;
}